.dropdown {
  width: 50%;
  background-color: transparent;
  border: 2px solid;
  border-radius: 10px;
  font-size: 20px;
  margin: 20px;
  padding: 10px;
  font-size: 20px;
  font-family: "Roboto Condensed";
  font-weight: 500;
}

.main-area {
  background: #d0dddf;
  border: 1px solid;
  border-radius: 20px;
  margin: 20px;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.form-title {
  font-size: 30px;
  font-family: "Roboto Condensed";
  font-weight: 800;
  color: white;
}

.form-header {
  background: #144272;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #251749;
  background-image: linear-gradient(62deg, #251749 5%, #1f42aa 100%);
}

.priceop {
  font-size: 30px;
  font-weight: 700;
}

.pbutton {
  border-radius: 10px;
}

@media screen and (max-width: 890px) {
  .main-area {
    width: 90%;
  }
}
